<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	  
	  <mapper namespace="com.spring.ict03_fastiCat.dao.MainShowDAO">
	  
	  <!--  show 갯수 -->
	  <select id="showCnt" parameterType="String" resultType="int">
	  	SELECT COUNT(*) as cnt
	  	<if test='category == "festival"'>
	  		FROM show_tbl_fes
	  	</if>
	  	<if test='category == "concert"'>
	  		FROM show_tbl
	  	</if>
	  </select>
	  
	  <!--  show 목록 -->
	  <select id="showList" parameterType="java.util.Map" resultType="com.spring.ict03_fastiCat.dto.MainShowDTO">
	  	SELECT *
	  	  FROM 
			 ( 
				SELECT b.*, ROWNUM AS rn
				  FROM 
					  	<if test='category == "festival"'>
					  	( SELECT *
					  		FROM show_tbl_fes
					  	   WHERE show = 'y' 
						   ORDER BY showNum DESC 
						) b 
					  	</if>
					  	<if test='category == "concert"'>
					  	( SELECT *
					  		FROM show_tbl
					  	   WHERE show = 'y' 
						   ORDER BY showNum DESC 
						) b 
					  	</if>
						  
				) 
		 WHERE rn BETWEEN TO_NUMBER(#{start}) AND TO_NUMBER(#{end})
	  </select>
	  
	  <!--  show 상세페이지 -->
	  <select id="showInfo" parameterType="java.util.Map" resultType="com.spring.ict03_fastiCat.dto.MainShowDTO">
	  	
	  	<if test='category == "festival"'>
	  		SELECT * 
	  		  FROM show_tbl_fes
	  		 WHERE showNum=#{showNum}
	  	</if>
	  	<if test='category == "concert"'>
	  		SELECT * 
	  		  FROM show_tbl
	  		 WHERE showNum=#{showNum}
	  	</if>
	  </select>
	  </mapper> 